.body{
  min-height: 100vh;
}

.nav {
  background-color: #dddddd;
}

a {
  color: #000;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.hello {
  min-height: calc(100vh - 50px - 250px);
  background-color: pink;
}