.body{
  min-height: 100vh;
}

.nav {
  background-color: #dddddd;
}

a {
  color: #000;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.label {
  color: #aaa;
  margin-top: 20px;
}

.user_form {
  display: flex;
  flex-direction: column;
}

.input {
  height: 40px;
  width: 300px;
  border: 1px solid #aaa;
  border-radius: 1rem;
}

.btn {
  height: 40px;
  width: 300px;
  text-align: center;
  line-height: 40px;
  border-radius: 2rem;

}

.link_btn {
  color: #000;
  background-color: #ffad60;
  margin-top: 40px;
  border: 1px solid orange;
}

.action {
  display: flex;
  justify-content: center;
}

.submit_btn {
  color: #000;
  background-color: #5bd1d7;
  margin-top: 40px;
  border: 1px solid lightblue;
}

thead {
  border-bottom: 2px solid gray;
}

tr {
  border-bottom: 1px solid gray;
}

.q_thead,
.q_td {
  margin: 10px 0;
}

.q_box {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 20px 0;
  .q_cont {
    width: 230px;
    display: flex;
    margin: 10px 0;
    .q_name {
      margin-right: 10px;
    }
    .answer_btn {
      width: 60px;
      font-size: 10px;
    }
  }
}


.answer {
  display: flex;
  .select {
    display: inline-block;
  }
}