.body{
  min-height: 100vh;
}

.nav {
  background-color: #dddddd;
}

a {
  color: #000;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.image {
  width: 150px;
  height: 150px;
  background-image: url(../../public/images/dance_yorokobi_mai_woman.png);
}