.body {
  min-height: 100vh;
}

.hello {
  height: calc(100vh - 50px - 250px);
}

.nav {
  background-color: #dddddd;
}

a {
  color: #000;
  text-decoration: none !important;
}

li {
  list-style: none;
}

.heaer_nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.heaer_nav .header_title {
  margin: 0 auto 0 20px;
  font-size: 25px;
  color: blue;
}

.heaer_nav .button_box {
  display: flex;
  padding: 0 auto;
}

.heaer_nav .button_box .new_register,
.heaer_nav .button_box .new_session {
  height: 30px;
  width: 80px;
  line-height: 15px;
  font-size: 12px;
  margin-right: 20px;
}

.footer_nav {
  height: 250px;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.footer_nav .footer_links {
  height: 200px;
}

.footer_nav .footer_links li {
  margin-top: 7px;
}

.footer_nav .copyright {
  height: 200px;
  line-height: 300px;
}

