.home_nav {
  height: 50px !important;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  .header_title{
    margin: 0 auto 0 15px;
    font-size: 25px;
    line-height: 30px;
    color: blue;
  }
  .button_box {
    display: flex;
    padding: 0 auto;
    .new_register,
    .new_session {
      height: 30px;
      width: 80px;
      line-height: 15px;
      font-size: 12px;
      background-color: #bbb;
      margin-right: 20px;
      border-radius: 3rem;
    }
  }
}